<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT Clase de Yuri</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">IP</th>
          <th scope="col">Temperatura</th>
         
        </tr>
      </thead>
        <tbody>
        <%TemperaturaList.forEach(Temperatura=> {%>
            <tr>
                <th scope="row"><%= Temperatura._id %></th>
                <td><%= Temperatura.IP %></td>
                <td><%= Temperatura.RSSI %></td>
            
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>